

.card {
    padding: 0.8rem 1rem 0.8rem 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    background-color: #E5E4E2;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.card.on {
    background-color: #000;
    color: #fff;
}

.taskName {
    color: #0c0c0c;
    font-size: 18px;
}

.taskName.on {
    color: #ffffff;
}

.desc {
    color: #000000;
    font-weight: 800;
    font-size: 17px;
}

.desc.on {
    color: #fff;
}

.data {
    padding: 0 1.5rem;
    color: #fff;
    transition: all 0.3s ease-in;
}

.dueDate {
    color: #000000;
}

.dueDate.on {
    color: #fff;
}
