
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
}
.container.on{
    background-color: #000;  
}
.container{
    width: 100%;
    height: 100vh;
}
.topSection{
    padding: 1rem 1rem 1rem 1rem;
    background-color:#92b3d2;
    border-radius: 10px;
    overflow-x: hidden;
}
.topSection.on{
    background-color: #000;
    color: #fff;
}

.btnsCategories{
    /* width: 100%; */
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}
.CardContainer {
    height: auto; 
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto; 
}


@media (max-width: 768px) {
    .CardContainer {
        height: 100vh; 
        overflow-y: scroll; 
    }
    .card {
        flex-direction: column;
    }
}
@media (max-width: 1200px) { 
    .CardContainer {
        height: 100vh;
        overflow-y: scroll; 
    }
    .card {
        flex-direction: column;
    }
}

.toggle-switch .on{
    background-color: #000;
}
.toggle-switch .off{
    background-color: #ffffff;
}

@media screen and (min-width:768px) {
    .container{
        width: 70%;
        height: 70%;
    }
}
@media screen and (max-width:1030px) {
    .container{
        width: 90%;
        height: 70%;
    }
}
@media screen and (max-width : 600px)  {
    .container{
        width: 100%;
        height: 100%;
    }
    .CardContainer{
        overflow-y: scroll;
    }
}
