
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
}
.container.on{
    background-color: #000;  
}
.container{
    width: 50%;
    height: 70%;
   
}
.topSection{
    padding: 1rem 1rem 1rem 1rem;
    background-color:#E5E4E2;
}
.topSection.on{
    background-color: #000;
    color: #fff;
}

.btnsCategories{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}
.CardContainer{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.toggle-switch .on{
    background-color: #000;
}
.toggle-switch .off{
    background-color: #ffffff;
}

@media screen and (min-width:768px) {
    .container{
        width: 70%;
        height: 70%;
    }
}
@media screen and (max-width:1030px) {
    .container{
        width: 90%;
        height: 70%;
    }
}
@media screen and (max-width : 600px)  {
    .container{
        width: 100%;
        height: 100%;
    }
}
