
.toggle-container {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    gap: 20px;
  }
  
  .toggle-switch {
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .toggle-knob {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .toggle-switch.on {
    background-color: #4caf50; 
  }
  
  .toggle-switch.on .toggle-knob {
    transform: translateX(30px); 
  }
  

  .toggle-switch.off {
    background-color: #ccc; 
  }
  
  .toggle-switch.off .toggle-knob {
    transform: translateX(0);
  }
  
  span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  